# dependencies
node_modules/
.pnp
.pnp.js

# build output
out/
.next/

# misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
